@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HangeulNuri-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NoonnuBasicGothicRegular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .feature-item {
    @apply border border-black border-solid px-2 rounded-xl text-center w-full;
  }
}

body {
  @apply bg-[#0f302c] text-[#E9EFEC];
}

.perspective-1000 {
  perspective: 1000px; /* 3D 공간을 위한 원근 효과 */
}

.rotate-y-180 {
  transform: rotateY(180deg); /* Y축을 기준으로 180도 회전 */
}

.rotate-y-0 {
  transform: rotateY(0); /* 원래 상태 */
}
