@font-face {
  font-family: 'establishRetrosansOTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTBookendBatangR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/TTBookendBatangR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'TTBookendBatangR', sans-serif;
}
