@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .feature-item {
    @apply border border-black border-solid px-2 rounded-xl text-center w-full;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: wheat;
  border-radius: 50%;
  padding: 10px;

  transition:
    opacity 0.3s,
    transform 0.3s;
  z-index: 10;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.5rem;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.swiper-pagination {
  position: absolute;
  bottom: 10px; /* 이미지 바로 아래 */
  z-index: 5;
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.5);
  width: 8px;
  height: 8px;
  margin: 0 4px;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: #16423c;
  transform: scale(1.3);
  opacity: 1;
}

.swiper {
  position: relative; /* 버튼과 페이지네이션 위치 조정 */
  padding-bottom: 30px; /* 페이지네이션과 이미지 간 간격을 줄임 */
}
